  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

  :root {
    --PrimaryColor: #040845;
    --SecondaryColor: #FFD700;
    --AccentColor: #f8fbf1;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  body {
    font-family: "Roboto", 'Segoe UI', Tahoma;
    font-size: 1.6rem;
    /* background-color: var(--AccentColor); */
    color: var(--PrimaryColor);
  }

  #container {
    display: flex;
    position: relative;
    background-color: var(--PrimaryColor);
    height: 100vh;
    overflow-x: hidden;
  }

  .header {
    font-family: "Montserrat", 'Segoe UI', Tahoma;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    margin: 10rem;
    padding: 4rem 2rem;
    padding-bottom: 1rem;
    border-radius: 1.5rem;
    background-color: var(--AccentColor);
    transition: transform 800ms;
  }

  .quoteBox,
  .adviceBox {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin: 1rem auto;
    line-height: 1.5;
    color: #333;
  }

  #quoteBtn,
  #adviceBtn {
    display: inline-block;
    background-color: var(--PrimaryColor);
    font-size: 1.8rem;
    font-weight: 500;
    border: none;
    margin: 2rem auto;
    margin-bottom: 0;
    padding: 2rem 4rem;
    color: var(--AccentColor);
    border-radius: .8rem;
    cursor: pointer;
    transition: background 300ms ease-in-out;
  }

  #quoteBtn:hover,
  #adviceBtn:hover {
    font-weight: 700;
  }

  .countBox {
    font-style: italic;
    margin-top: 2rem;
    padding: 1rem 0 0;
  }

  .count {
    font-weight: 700;
    font-style: normal;
  }

  .footer {
    padding: 2rem;
    text-align: center;
    color: var(--PrimaryColor);
    letter-spacing: 1px;
  }

  .link:hover {
    color: var(--SecondaryColor);
    text-decoration: none;
  }

  /* navigation */
  .navBar {
    display: flex;
    position: relative;
    width: 50vh;
    background-color: var(--PrimaryColor);
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
    z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
  }

  .openNav.navBar {
    transform: translateX(-0%);
    z-index: 0;
  }

  #navBtnBox {
    position: fixed;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 2;
  }

  .navBtn {
    position: absolute;
    display: inline-block;
    font-size: 4rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--AccentColor);
  }

  .navBtn:active {
    font-size: 4.2rem;
  }

  .navList {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }

  .listItem {
    margin: 1rem auto;
  }

  .navLink {
    color: var(--AccentColor);
    text-decoration: none;
    font-size: 2.8rem;
    text-transform: uppercase;
  }

  .navLink.current {
    font-size: 3.4rem;
    letter-spacing: 3px;
  }

  #closeBtn {
    display: none;
    transition: all 1000ms ease-in-out;
  }

  #closeBtn.openNav {
    display: block;
    transform: translateX(600%);
  }

  #menuBtn.openNav {
    display: none;
  }

  .content.openNav {
    transform: translateX(200px);
  }